<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TermiConsult</title>

    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

</head>
<body onscroll="scrollFunction()">

    <button id="GoUp" onclick="topFunction()" class="buttonUp fa-2x fa fa-arrow-up"></button>

    <header>
        <nav id="navBarId" class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" onclick="smoothScroll('homeId')" style="width:auto; height:auto">
                    <img id="imageIcon" src="~/Images/TermiConsult.png" style="width:100%; height:80px" onload="loadIcon()" />
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a onclick="smoothScroll('homeId')" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a onclick="smoothScroll('leistungId')" class="nav-link text-dark" asp-area="" asp-controller="Leistung" asp-action="Index">Leistung</a>
                            @*<a onclick="smoothScroll('aboutId')" style="cursor:pointer" class="nav-link text-dark">About</a>*@
                        </li>

                        <li class="nav-item">
                            <a onclick="smoothScroll('skillsId')" class="nav-link text-dark" asp-area="" asp-controller="Skills" asp-action="Index">Skills</a>
                            @*<a onclick="smoothScroll('skillsId')" style="cursor:pointer" class="nav-link text-dark">Skills</a>*@
                        </li>

                        @*<li class="nav-item">
                            <a onclick="smoothScroll('linkId')" class="nav-link text-dark" asp-area="" asp-controller="Links" asp-action="Index">Links</a>
                        </li>*@

                        <li class="nav-item">
                            <a onclick="smoothScroll('contactId')" class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Kontakt</a>
                            @*<a onclick="smoothScroll('contactId')" style="cursor:pointer" class="nav-link text-dark">Kontakt</a>*@
                        </li>

                        <li class="nav-item">
                            <a onclick="loadImpressum()" class="nav-link text-dark" asp-area="" asp-controller="Impressum" asp-action="Index">Impressum</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted" style="width: 100%; align-content: center; display: inline-block; background-color:white; position:relative; margin-top:-16px">
        <div class="container">
            &copy; 2020
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" onclick="smoothScroll('homeId')" style="width:auto; height:auto">
                <img id="imageIcon" src="~/Images/TermiConsult.png" style="width: 60%; height: 50px" onload="loadIcon()" />
            </a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
    <script src="~/js/site.js"></script>

    <script type="text/javascript">
        function smoothScroll(target) {

            var clientHeight = document.getElementById('navBarId').clientHeight;

            if (target === 'homeId') {

                document.querySelector('.home').scrollIntoView({
                    behavior: 'smooth',
                });
            }

            if (target === 'leistungId') {

                document.querySelector('.leistung').scrollIntoView({
                    behavior: 'smooth',
                });
            }

            if (target === 'contactId') {

                document.querySelector('.contact').scrollIntoView({
                    behavior: 'smooth',
                });
            }
            if (target === 'skillsId') {

                document.querySelector('.skills').scrollIntoView({
                    behavior: 'smooth',
                });
            }

            setTimeout(() => {
                window.scrollTo({ behavior: 'smooth', top: window.scrollY - clientHeight });
            }, 500);

        }
    </script>
</body>
</html>
