<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TermiConsult</title>

    <script src="~/js/site.js" asp-append-version="true">
    </script>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>

<body onscroll="scrollFunction()">
    <button id="GoUp" onclick="topFunction()" class="buttonUp fa-2x fa fa-arrow-up"></button>
    <header>
            <nav id="navBarId" class="navbar navbar-expand-lg navbar-light bg-light fixed-top border-bottom box-shadow">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" onclick="smoothScroll('homeId')" style="width:auto; height:auto">
                    <img id="imageIcon" src="~/Images/TermiConsult.png" style="width:100%; height:80px" onload="loadIcon()" />
                </a>
                <button class="navbar-toggler text-center" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a onclick="smoothScroll('leistungId')" class="nav-link" asp-area="" asp-controller="Leistung" asp-action="Index">Leistung</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="smoothScroll('skillsId')" class="nav-link" asp-area="" asp-controller="Skills" asp-action="Index">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="smoothScroll('linkId')" class="nav-link" asp-area="" asp-controller="Links" asp-action="Index">Links</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="smoothScroll('contactId')" class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a onclick="loadImpressum()" class="nav-link" asp-area="" asp-controller="Impressum" asp-action="Index">Impressum</a>
                        </li>
                    </ul>
                </div>
            </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
            @RenderSection("scripts", required: false)
        </main>
    </div>
    <footer class="border-top footer text-muted" style="width: 100%; align-content: center; display: inline-block; background-color:white; position:relative; margin-top:-16px">
        <div class="container">
            &copy; 2020
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" onclick="smoothScroll('homeId')" style="width:auto; height:auto">
                <img id="imageIcon" src="~/Images/TermiConsult.png" style="width: 60%; height: 50px" onload="loadIcon()" />
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>

</body>
</html>
