<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TermiConsult</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body onscroll="scrollFunction()">

    <button id="GoUp" onclick="topFunction()" class="buttonUp fa-2x fa fa-arrow-up"></button>

    <header>
        <nav id="navBarId" class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" onclick="smoothScroll('homeId')">
                        <img id="imageIcon" src="~/Images/TermiConsult.png" style="width: auto; height: 50px" onload="loadIcon()" />
                    </a>*@

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navBarNav">
                    <ul id="main_nav" class="nav navbar-nav nav-list ms-auto">
                        <li class="nav-item">
                            <a onclick="smoothScroll('homeId')" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <img id="imageIcon" src="~/Images/TermiConsult_logo.png" onload="loadIcon">
                            </a>
                        </li>

                        <li class="nav-item">
                            <a onclick="smoothScroll('aboutId')" class="nav-link text-dark" asp-area="" asp-controller="About" asp-action="Index">About</a>
                        </li>

                        <li class="nav-item">
                            <a onclick="smoothScroll('skillsId')" class="nav-link text-dark" asp-area="" asp-controller="Skills" asp-action="Index">Skills</a>
                            @*<a onclick="smoothScroll('skillsId')" style="cursor:pointer" class="nav-link text-dark">Skills</a>*@
                        </li>
                        <li class="nav-item">
                            <a onclick="smoothScroll('linkId')" class="nav-link text-dark" asp-area="" asp-controller="Links" asp-action="Index">Links</a>
                        </li>

                        <li class="nav-item">
                            <a onclick="smoothScroll('contactId')" class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Kontakt</a>
                            @*<a onclick="smoothScroll('contactId')" style="cursor:pointer" class="nav-link text-dark">Kontakt</a>*@
                        </li>

                        <li class="nav-item">
                            <a onclick="loadImpressum()" class="nav-link text-dark" asp-area="" asp-controller="Impressum" asp-action="Index">Impressum</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @*<nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown link
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>*@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" style="width: 100%; align-content: center; display: inline-block; background-color:white; position:relative; margin-top:-16px">
        <div class="container">
            &copy; 2022
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" onclick="smoothScroll('homeId')">
                <img id="imageIcon" src="~/Images/TermiConsult_logo.png" onload="loadIcon()" />
            </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
