@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Skills";
}

    <div class="skills container" id="skillsId" style="background-color: white; margin-top:107px">
        <div class="container justify-content-xl-center">
            <div class="row">
                <div class="col-lg-6 left">
                    <div class="d-flex" style="margin-bottom:-40px; color: dimgray; margin-top: 5px; font-family:Rockwell;">
                        <h1 class="text-md-left text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">Meine <strong>Erfahrungen</strong></h1>
                    </div>

                    <div class="blockquote bq-warning mb-4 defaultCard" style="width:100%; background-color:#fdedec">
                        <blockquote style="font-family: Rockwell">
                            <h5 class="font-weight-bold mb-0 ml-1"><strong>DENTSPLY SIRONA GMBH</strong></h5>
                            <p class="mb-0 ml-1 light-grey-text">Medizintechnik</p>
                            <p class="mb-0 ml-1 light-grey-text">Softwarequalität & Tooling</p>
                        </blockquote>

                    </div>

                    <div class="blockquote bq-warning mb-4 defaultCard" style="width:100%; background-color: #d1f2eb">
                        <blockquote style="font-family: Rockwell">
                            <h5 class="font-weight-bold mb-0 ml-1"><strong>WEBER AUTOMOTIVE GMBH</strong></h5>
                            <p class="mb-0 ml-1 light-grey-text">Industrie 4.0</p>
                            <p class="mb-0 ml-1 light-grey-text">Leitrechner für Produktionslinien</p>
                            <p class="mb-0 ml-1 light-grey-text">Softwarequalität</p>
                        </blockquote>

                    </div>

                    <div class="blockquote bq-warning mb-4 defaultCard" style="width:100%; background-color: #fae5d3">
                        <blockquote style="font-family: Rockwell">
                            <h5 class="font-weight-bold mb-0 ml-1"><strong>AIRBUS GMBH</strong></h5>
                            <p class="mb-0 ml-1 light-grey-text">Aeronautik</p>
                            <p class="mb-0 ml-1 light-grey-text">Softwarequalität</p>
                            <p class="mb-0 ml-1 light-grey-text">Mission Analysis & Map Preparation</p>
                        </blockquote>
                    </div>

                    <div class="blockquote bq-warning defaultCard" style="width:100%; background-color: #85c1e9">
                        <blockquote style="font-family: Rockwell">
                            <h5 class="font-weight-bold mb-0 ml-1"><strong>SIEMENS (HEALTHINEERS)</strong></h5>
                            <p class="mb-0 ml-1 light-grey-text">Medizintechnik</p>
                            <p class="mb-0 ml-1 light-grey-text">Softwarequalität & Tooling</p>
                            <p class="mb-0 ml-1 light-grey-text">Magnetresonanztomographie (MRT)</p>
                        </blockquote>
                    </div>

                    <div class="blockquote bq-warning defaultCard" style="width:100%; background-color:#f7dc6f">
                        <blockquote style="font-family: Rockwell">
                            <h5 class="font-weight-bold mb-0 ml-1"><strong>FRAUNHOFER INSTITUTE (EZRT)</strong></h5>
                            <p class="mb-0 ml-1 light-grey-text">Röntgentechnik</p>
                            <p class="mb-0 ml-1 light-grey-text">Bildverarbeitung</p>
                            <p class="mb-0 ml-1 light-grey-text">Softwarequalität & Tooling</p>
                        </blockquote>
                    </div>

                    <div class="blockquote defaultCard" style="width:100%; background-color:lavender">
                        <blockquote style="font-family: Rockwell">
                            <h5 class="font-weight-bold mb-0 ml-1"><strong>LGA INTERCERT (LGA)</strong></h5>
                            <p class="mb-0 ml-1 light-grey-text">Messtechnik</p>
                            <p class="mb-0 ml-1 light-grey-text">Medizinische Normen</p>
                            <p class="mb-0 ml-1 light-grey-text">Aktive medizinische Geräte</p>
                        </blockquote>
                    </div>
                </div>

                <div class="col-lg-6 right">

                    <!--Second heading-->
                    <div class="d-flex" style="margin-bottom:-40px; color: dimgray; margin-top: 5px; font-family:Rockwell">
                        <h1 class="text-md-left text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">Meine <strong>Skills</strong></h1>
                    </div>

                    <div class="blockquote bq-warning defaultCard" style="width:100%; background-color:azure; font-family: Rockwell">
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> C#/.NET</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> WPF / XAML</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> ASP .NET</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Rest Api</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Angular</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> CSS3</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> HTML5</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> UML</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Bootstrap</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> C/C++</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Scripting (TS/JS/Batch)</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Software Architektur</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Design principles</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Industrie 4.0</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Windows Dienste</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Testing </i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> MSSQL-Datenbank</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> NHibernate</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> wordpress</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> ...</i></p>
                    </div>

                    <div class="d-flex" style="margin-bottom:-40px; color: dimgray; font-family:Rockwell;">
                        <h1 class="text-md-left text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">Soft-<strong>skills</strong></h1>
                    </div>

                    <div class="blockquote bq-warning defaultCard" style="width:100%; border:solid 1px lightgrey; background-color:floralwhite; font-family: Rockwell">

                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Projektleiterqualifizierung</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Requirement Engineering</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Zeitmanagement & Arbeitsmethodik</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> BWL für Naturwissenschaftler</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Grundlagen effektiver Kommunikation</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Multithreading</i></p>
                        <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> C++ für Fortgeschrittene</i></p>
                    </div>

                </div>
            </div>

            <div class="container justify-content-xl-center text-center">
                <h1 class="d-flex justify-content-center font-weight-bold text-uppercase" style="font-family: Rockwell; color: dimgray; margin-top: 50px">Entwicklungsprozess</h1>
                <hr class="thick" />
                <img src="~/Images/Konzept.png" style="background-position: center; background-size: cover; background-repeat: no-repeat; height:50%; width:80%" />
            </div>
        </div>
    </div>