@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Skills";
}
<div class="skills container" id="skillsId" style="margin-top:107px; padding-bottom:10px">
    <!-- First column -->

    <div class="row">

        <div class="col-lg-6 left">

            <!--Section heading-->
            <div class="d-flex" style="margin-bottom:-40px; color: dimgray">
                <h4 class="text-md-left text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">Meine <strong>Erfahrungen</strong></h4>
            </div>

            <blockquote class="blockquote bq-warning mb-4 defaultCard" style="width:100%; background-color:#fdedec">
                <div class="row">
                    <h5 class="font-weight-bold mb-0 ml-3"><strong>DENTSPLY SIRONA GmbH</strong></h5>
                </div>
                <p class="mb-0 ml-1 light-grey-text">Medizintechnik</p>
                <p class="mb-0 ml-1 light-grey-text">Softwarequalität & Tooling</p>

            </blockquote>

            <blockquote class="blockquote bq-warning mb-4 defaultCard" style="width:100%; background-color: #d1f2eb">
                <div class="row">
                    <h5 class="font-weight-bold mb-0 ml-3"><strong>Weber Automotive GmbH</strong></h5>
                </div>
                <p class="mb-0 ml-1 light-grey-text">Industrie 4.0</p>
                <p class="mb-0 ml-1 light-grey-text">Leitrechner für Produktionslinien</p>
                <p class="mb-0 ml-1 light-grey-text">Softwarequalität</p>
            </blockquote>

            <blockquote class="blockquote bq-warning mb-4 defaultCard" style="width:100%; background-color: #fae5d3">
                <div class="row">
                    <h5 class="font-weight-bold mb-0 ml-3"><strong>AIRBUS GmbH</strong></h5>
                </div>
                <p class="mb-0 ml-1 light-grey-text">Aeronautik</p>
                <p class="mb-0 ml-1 light-grey-text">Softwarequalität</p>
                <p class="mb-0 ml-1 light-grey-text">Mission Analysis & Map Preparation</p>
            </blockquote>

            <blockquote class="blockquote bq-warning defaultCard" style="width:100%; background-color: #85c1e9">
                <div class="row">
                    <h5 class="font-weight-bold mb-0 ml-3"><strong>SIEMENS (HealthCare and Industry Solutions)</strong></h5>
                </div>

                <p class="mb-0 ml-1 light-grey-text">Medizintechnik</p>
                <p class="mb-0 ml-1 light-grey-text">Softwarequalität & Tooling</p>
                <p class="mb-0 ml-1 light-grey-text">Magnetresonanztomographie (MRT)</p>
            </blockquote>

            <blockquote class="blockquote bq-warning defaultCard" style="width:100%; background-color:#f7dc6f">
                <div class="row">
                    <h5 class="font-weight-bold mb-0 ml-3"><strong>Fraunhofer Institute (EZRT)</strong></h5>
                </div>
                <p class="mb-0 ml-1 light-grey-text">Röntgentechnik</p>
                <p class="mb-0 ml-1 light-grey-text">Bildverarbeitung</p>
                <p class="mb-0 ml-1 light-grey-text">Softwarequalität & Tooling</p>
            </blockquote>

            <blockquote class="blockquote defaultCard" style="width:100%; background-color:lavender">
                <div class="row">
                    <h5 class="font-weight-bold mb-0 ml-3"><strong>LGA InterCert (LGA)</strong></h5>
                </div>
                <p class="mb-0 ml-1 light-grey-text">Messtechnik</p>
                <p class="mb-0 ml-1 light-grey-text">Medizinische Normen</p>
                <p class="mb-0 ml-1 light-grey-text">Aktive medizinische Geräte</p>
            </blockquote>

        </div>

        <div class="col-lg-6 right">

            <!--Second heading-->
            <div class="d-flex" style="margin-bottom:-40px; color: dimgray">
                <h4 class="text-md-left text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">Meine <strong>Skills</strong></h4>
            </div>

            <div class="blockquote bq-warning defaultCard" style="width:100%; background-color:azure">
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> C#/.NET</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> WPF / XAML</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> ASP .NET</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Rest Api</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Angular</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> CSS3</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> HTML5</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> UML</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Bootstrap</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> C/C++</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Scripting (TS/JS/Batch)</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Software Architektur</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Design principles</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Industrie 4.0</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Windows Dienste</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Testing </i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> MSSQL-Datenbank</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> NHibernate</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> wordpress</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> ...</i></p>
            </div>

            <div class="d-flex" style="margin-bottom:-40px; color: dimgray">
                <h4 class="text-md-left text-uppercase mb-5 pb-3 mt-4 wow fadeIn" data-wow-delay="0.2s">Soft-<strong>skills</strong></h4>
            </div>

            <div class="blockquote bq-warning defaultCard" style="width:100%; border:solid 1px lightgrey; background-color:floralwhite">

                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Projektleiterqualifizierung</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Requirement Engineering</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Zeitmanagement & Arbeitsmethodik</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> BWL für Naturwissenschaftler</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Grundlagen effektiver Kommunikation</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> Multithreading</i></p>
                <p class="mb-0 ml-1 light-grey-text text-uppercase font-weight-bold"><i class="fa fa-check"> C++ für Fortgeschrittene</i></p>
            </div>

        </div>

        <div class="container-fluid text-center align-content-center">
            <hr />
            <h5 class="text-uppercase fa fa-code fa-3x" style="color: dimgray"> Entwicklungs-<strong>Prozess</strong></h5>
            <hr />
        </div>

        <div class="col-lg-12 dark-grey-text">
            <!--<img src="assets/V-Modell.png" style="width:100%; height:80%" />-->
            <!--<div class="row col-lg-6" style="margin-right: 43px">-->
            <!--<h1 style="font-stretch: condensed; font-size:24px; color: #2f4f4f; text-align:left"><strong> 1. </strong>Requirement Analyse</h1>-->
            <div class="col" style="margin-top:20px">
                <div class="row">
                    <div class="row card card-body" style="margin:2px; background-color:inherit;  width:100%">
                        <i class="fa fa-tasks fa-3x mb-4" aria-hidden="true"> Anforderungsanalyse</i>
                        Die Analyse der Anforderungen erfolgt nach den definierten Errmittlungstechniken (Befragungstechniken, Kreativitätstechniken, Dokumentenzentrierte Techniken, Beobachtungstechniken.)<br />
                        Eine Anforderung ist nach IEEE:
                        <ul>
                            <li>(1) Eine Bedingung oder Fähigkeit, die von einem Benutzer (Person oder System) zur Lösung eines Problems oder zur Erreichung eines Ziels benötigt wird.</li>
                            <li>(2) Eine Bedingung oder Fähigkeit, die ein System oder Teilsystem erfüllen oder besitzen muss, um einen Vertrag, eine Norm, eine Spezifikation oder andere, formell vorgegebene Dokumente zu erfüllen.</li>
                            <li>(3) Eine dokumentierte Repräsentation einer Bedingung oder Eigenschaft gemäß (1) oder (2).</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="row card card-body" style="padding:40px; margin:2px; background-color:inherit;  width:100%">
                        <i class="fa fa-sitemap mb-4 fa-3x" aria-hidden="true"> Design</i>
                        Durch die definierten Anforderungen macht es sich einfacher ein bestimmtes Muster aus den definierten Aufgaben zu erkennen.
                        Abhängig vom zu lösenden Problem kann es sich eignen, ein grundsächliches Design-Prinzip anzuwenden.
                        Degsign-Prinzipien haben das Ziel für alle Stakeholder, eine transparente Leitlinie und Regeln für User Experience und Design zu definieren.
                        Damit wird die Grundlage für eine gemeinsame Kommunikation geschaffen. Die inviduellen Bilder im Kopf der einzelnen Beteiligten können somit abgeglichen werden.
                    </div>
                </div>


                <div class="row justify-content-center">
                    <div class="row card card-body" style="padding:40px; margin:2px; background-color:inherit;  width:100%">
                        <i class="fa fa-code mb-4 fa-3x" aria-hidden="true"> Implementierung</i>
                        Hier werden die in der Spezifikation definierten Vorgängen in Programmen umgesetzt. Der Entwickler benutzt dafür eine Programmiersprache.
                        Eine Programmiersprache wird, nach dem Gabler Wirtschaftslexikon als künstliche
                        Sprache zur Verständigung zwischen Mensch und Computer definiert. Sie ist durch ihre Syntax und Semantik definiert.
                    </div>
                </div>
                <div class="row">
                    @*<p style="visibility:hidden">Mehr dazu auf:  https://wirtschaftslexikon.gabler.de/definition/testen-48936/version-272182</p>*@
                    <div class="row card card-body" style="padding:40px; margin:2px; background-color:inherit;  width:100%">
                        <i class="fa fa-tasks mb-4  fa-3x" aria-hidden="true"> Testing</i>
                        Die implementierten Modulen werden in der Testphase auf Funktionsfähigkeit überprüft. Während des Tests werden Fehler aufgespürt und beseitigt.<br />
                        Phasen des Testen:
                        <ul>
                            <li>Modultest</li>
                            <li>Integrationstest</li>
                            <li>Systemtest</li>
                            <li>Abnahmetest</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="row card card-body" style="padding:40px; margin:2px; background-color:inherit;  width:100%">
                        <i class="fa fa-truck mb-4 fa-3x" aria-hidden="true"> Freigabe</i>
                        Das entwicklete Softwareprodukt wird für den Zweck seiner Bestimmung an seinen Auftraggeber ausgeliefert.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
