@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Impressum";
}
@*<div class="home container bg-info" id="homeId" style="margin-top:107px">
    <div class="container justify-content-xl-center" style="left:0; right:0; height: 100%;">*@

        <div class="container impressum" id="impressumId" onload="loadImpressum()" style="background-color: cornsilk; margin-top: 107px; left:0; right:0; height: 100%;">
            <!--<span style="visibility: hidden"> Quelle: https://www.e-recht24.de/muster-disclaimer.html </span>-->
            <div style="margin-left:-15px; margin-right:-15px; padding: 50px; background-color: ghostwhite">
                <h2>
                    Impressum
                </h2>

                Angaben gemäß § 5 TMG
                <br />Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:
                <div class="preferenceForm" style="margin-bottom: 5px" BackColor="#E0E0E0" Height="100%" Width="100%">
                    <!--<strong>
                      TermiConsult
                    </strong>-->
                    <br />
                    <hr class="style-six" />
                    Jocelin Incas Tiemegni<br />
                    Spitalstraße 6a<br />
                    88677 Markdorf <br />
                    <span class="fa fa-phone" style="display:inline"> +49(0)173-8992690</span>
                    <br />
                    <hr class="style-six" />
                </div>

                <br /><strong>Haftungsausschluss:</strong>

                <p>
                    <br>Ich nehme den Schutz Ihrer persönlichen Daten sehr ernst und
                    halte mich strikt an die Regeln der Datenschutzgesetze. Personenbezogene Daten werden
                    auf dieser Webseite  nur im technisch notwendigen Umfang erhoben. In keinem Fall
                    werden die erhobenen Daten verkauft oder aus anderen Gründen an Dritte weitergegeben.<br>

                    Die nachfolgende Erklärung gibt Ihnen einen Überblick darüber, wie ich diesen Schutz
                    gewährleiste und welche Art von Daten zu welchem Zweck erhoben werden.
                    <br>
                    <br>
                </p>
                <p><strong>Haftung für Inhalte</strong></p>
                <p>
                    Als Diensteanbieter bin ich gemäß § 7 Abs.1 TMG für
                    eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich.
                    Nach §§ 8 bis 10 TMG bin ich als Diensteanbieter jedoch nicht
                    verpflichtet, übermittelte oder gespeicherte fremde Informationen zu
                    überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige
                    Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der
                    Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon
                    unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem
                    Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei
                    Bekanntwerden von entsprechenden Rechtsverletzungen werde ich diese Inhalte
                    umgehend entfernen.
                </p>
                <p><strong>Haftung für Links</strong></p>
                <p>
                    Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren
                    Inhalte ich keinen Einfluss haben. Deshalb kann ich für diese
                    fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte
                    der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
                    Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung
                    auf mögliche Rechtsverstöße überprüft. Rechtswidrige
                    Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente
                    inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
                    einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen
                    werde ich derartige Links umgehend entfernen.
                </p>
                <p><strong>Urheberrecht</strong></p>
                <p>
                    Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten
                    unterliegen dem deutschen Urheberrecht. Die Vervielfältigung, Bearbeitung, Verbreitung und
                    jede Art der Verwertung außerhalb der Grenzen des Urheberrechtes bedürfen
                    der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads
                    und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen
                    Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden,
                    werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche
                    gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitte ich um einen entsprechenden Hinweis.
                    Bei Bekanntwerden von Rechtsverletzungen werde ich derartige Inhalte umgehend entfernen.
                </p>
                <p><i>Quellenangabe: <a href="https://www.e-recht24.de">eRecht24</a></i></p>
                <p><a href="http://www.e-recht24.de">Impressum-Generator</a> von e-recht24.de für Freiberufler.</p>
                <strong>Alle Bild- & Textrechte:</strong>TermiConsult<br />
                <strong>Webdesign: </strong>TermiConsult
            </div>
        </div>
