@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Leistung";
}

<div class="leistung container" id="leistungId" style="background-color: aliceblue; padding-bottom:2px">
    <div class="container justify-content-xl-center text-center">
        <h1 class="justify-content-center font-weight-bold text-uppercase" style="font-family:Rockwell; margin-top:50px">Meine Leistungen</h1>
        <hr class="thick" />

        <div class="leistung_wrap" style="font-family: Rockwell; color:black">

            <img src="~/Images/MeineKompetenzen.png" style="opacity:0.1; overflow:no-display;background-repeat: no-repeat" />

            <div class="container justify-content-xl-center" style="margin-bottom:3px; margin-top:2px">
                <h5 class="text-center font-weight-bold text-uppercase" style="margin-top:25px"> Freelancer</h5>
                <br />
                <p style="text-align:justify">
                    <span style="font-style: italic; font-size:32px">I</span>ch bin selbstständiger IT-Ingenieur.<br />
                    Ich habe in den vergangenen Jahren an Projekten unterschiedlicher Richtungen gearbeitet.
                    <br />
                    Meine bisherigen Einsatzpunkte sind die Erstellung von Spezifikationen und Designdokumenten, sowie die Implementierung und die Durchführung von Tests.
                    <br />
                    @*<div style="white-space: nowrap"> Einen Überblick über meine Projekte finden Sie <a asp-controller="Skills" asp-action="Index" style="cursor:pointer"><strong>hier</strong></a></div>*@
                </p>
            </div>
            <div class="container justify-content-xl-center" style="margin-bottom:3px">
                <h5 class="text-center font-weight-bold text-uppercase" style="margin-top:5px"> Entwickler</h5>
                <br />
                <p style="text-align:justify">
                    <span style="font-style:italic; font-size:32px">M</span>eine Tätigkeiten als Entwickler haben ihre Schwerpunkte in der Entwicklung von sowohl Desktop- als auch Webanwendungen.
                    Die Handhabung von Daten zwischen Front- und Backend ist unumgänglich.<br /> Dafür setze ich auf den Objekt Relationalen Mapper (ORM)- das Entity Framework- oder auch auf das Nhibernate.
                    Als Entwickler übernehme ich gern Verantwortung sei es in der ersten Projektphase (Requirement Engineering oder Design), in der Implementierung und dem Test oder auch im Delivery der implementierten Lösungen.
            </div>
            <div class="container justify-content-xl-center" style="margin-bottom:10px">
                <h5 class="text-center font-weight-bold text-uppercase" style="margin-top:5px"> Designer</h5>
                <br />
                <p style="text-align:justify">
                    <span style="font-style:italic; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:32px">I</span>ch arbeite strukturiert und zielorientiert. Wichtig ist mir vor jedem Projektstart größere wie auch kleinere
                    Brocken des Projekts zu erkennen und diese kenntlich zu machen. <br />Die Weiterarbeit stüzt sich auf diese Vorplanung und wird nach festgelegter Priorisierung abgearbeitet.<br />
                    Ich lege großen Wert auf Gründlichkeit. Das Erreichen der festgelegten Ziele unter Einhaltung der geplanten Zeit ist mir sehr wichtig.
                    <br />In meiner Arbeit beziehe ich mich auf etablierte Modelle, und Prinzipien wie beispielsweise das <a href="https://de.wikipedia.org/wiki/Prinzipien_objektorientierten_Designs#SOLID-Prinzipien" target="_blank"><strong>S-O-L-I-D  Prinzip</strong></a> das
                    <a href="https://de.wikipedia.org/wiki/V-Modell" target="_blank"><strong>V-Modell</strong></a>, die <a href="https://de.wikipedia.org/wiki/ALPEN-Methode" target="_blank"><strong>ALPEN</strong></a> Methode, um methodisch in meiner Arbeit voran zu schreiten.
            </div>

        </div>
        <br />
    </div>
</div>