@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

<div class="about container" id="aboutId" style="margin-top:107px">
    <div class="container justify-content-xl-center" style="margin-top:-80px">
        <div class="row">
            <h5 class="font-weight-bold text-uppercase fa fa-laptop fa-3x justify-content-xl-center" style="color: dimgray;margin:auto"> Freelancer</h5>
        </div>
        <br />
        <div class="row justify-content-center">
            <br />
            <p class="dark-grey-text text-center">
                <span style="font-style:italic; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:32px">I</span>ch bin selbstständiger IT-Ingenieur.<br />
                Ich habe in den vergangenen Jahren an Projekten unterschiedlicher Richtungen gearbeitet.
                <br />
                Meine bisherigen Einsatzpunkte sind die Erstellung von Spezifikationen und Designdokumenten, <br />
                sowie die Implementierung und die Durchführung von Tests.
                <br />
                Einen Überblick über meine Projekte finden Sie <a style="cursor:pointer" onclick="smoothScroll('skillsId')"><strong>hier</strong></a>.
            </p>
        </div>
        <br />
        <div class="row">
            <h5 class="font-weight-bold text-uppercase fa fa-laptop fa-3x justify-content-xl-center" style="color: dimgray;margin:auto"> Entwickler</h5>
        </div>
        <br />
        <div class="row justify-content-center">
            <br />
            <p class="dark-grey-text text-center">
                <span style="font-style:italic; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:32px">M</span>eine Tätigkeiten als Entwickler haben ihre Schwerpunkte in der Entwicklung von sowohl<br /> Desktop- als auch Webanwendungen.
                Die Handhabung von Daten zwischen Front- und Backend ist unumgänglich.<br /> Dafür setze ich auf den Objekt Relationalen Mapper (ORM)- das Entity Framework- oder auch auf das Nhibernate.<br />
                Als Entwickler übernehme ich gern Verantwortung sei es in der ersten Projektphase (Requirement Engineering oder Design),<br /> in der Implementierung und dem Test oder auch im Delivery der implementierten Lösungen.
        </div>
        <br />
        <div class="row">
            <h5 class="font-weight-bold text-uppercase fa fa-laptop fa-3x justify-content-xl-center" style="color: dimgray;margin:auto"> Designer</h5>
        </div>
        <br />
        <div class="row justify-content-center">
            <br />
            <p class="dark-grey-text text-center">
                <span style="font-style:italic; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:32px">I</span>ch arbeite strukturiert und zielorientiert. Wichtig ist mir vor jedem Projektstart <br /> größere wie auch kleinere
                Brocken des Projekts zu erkennen und diese kenntlich zu machen. <br />Die Weiterarbeit stüzt sich auf diese Vorplanung und wird nach festgelegter Priorisierung abgearbeitet.<br />
                Ich lege großen Wert auf Gründlichkeit. Das Erreichen der festgelegten Ziele unter Einhaltung der geplanten Zeit ist mir sehr wichtig.
                <br />In meiner Arbeit beziehe ich mich auf etablierte Modelle, und Prinzipien wie beispielsweise<br /> das <a href="https://de.wikipedia.org/wiki/Prinzipien_objektorientierten_Designs#SOLID-Prinzipien" target="_blank"><strong>S-O-L-I-D  Prinzip</strong></a> das
                <a href="https://de.wikipedia.org/wiki/V-Modell" target="_blank"><strong>V-Modell</strong></a>, die <a href="https://de.wikipedia.org/wiki/ALPEN-Methode" target="_blank"><strong>ALPEN</strong></a> Methode, um methodisch in meiner Arbeit voran zu schreiten.
        </div>
    </div>
</div>
